@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');

//colors
$primaryColor: #51969c;
$redAccent: #bc4141;
$darkGray: #616161;
$lightGray: #f7f7f7;

//fonts
$mainFont: 'Roboto', sans-serif;
$subFont: 'Ubuntu', sans-serif;